
<div class="text-center mb-5"></div>

<div class="container">
  <!--<div class="row">-->
  <!--  <%#= render 'layouts/errors', obj: @genre %>-->
  <!--</div>-->

  <h3 class="font-weight-bold col-3 ml-4 mb-4 text-nowrap">個体一覧</h3>

  <div class="text-center mb-5"></div>
    <%= link_to '新規個体登録', new_individual_path, class: "btn btn-outline-success" %>
<div class="text-center mb-5"></div>

<div class="table-responsive">
  <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">個体名</th>
          <th scope="col">種類</th>
          <th scope="col">生年月日</th>
          <th scope="col">年齢</th>
          <th scope="col">体重</th>
        </tr>
      </thead>

      <tbody class="table table-hover">
        <% @individuals.each do |individual| %>
        <tr>
          <td class="h5">
            <%= link_to each_store_path(individual.id) do %>
              <%= individual.name %>
            <% end %>
          </td>
          <td class="h5">
            <%#= link_to each_store_path(individual.id) do %>
            <!--↑種類絞り込みページに飛ばすよう-->
              <%= individual.seed_id %>
              <p>※日本語表示</p>
            <%# end %>
          </td>
          <td class="h5">
            <%= individual.birthday %>
          </td>
          <td class="h5">
            <%= individual.age %>
          </div>
          <td class="h5">
            <%= individual.weight %>
          </div>
          <td class="h5">
            <%= link_to "編集する", edit_individual_path(individual.id), class: "btn btn-outline-success" %>
            <%= link_to "削除", individual_path(individual.id), method: :delete,
              data: { confirm: "本当に削除しますか？" }, class: "btn btn-outline-danger ml-3" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <%#= paginate @seeds, theme: 'twitter-bootstrap-4' %>
  </div>
</div>