

<div class="text-center mb-5"></div>


<h4 class="text-success"><%= flash[:notice] %></h4>
<h4 class="text-danger"><%= flash[:alert] %></h4>
<div class="container-fluid">
  <div class="row d-flex justify-content-center mx-auto">
    <div class="col-lg-2">
      <%= render 'store/homes/seed', seeds: @seeds %>
    </div>

    <div class="contents-area col-lg-8 col-md-8">
      <div class="text-center mt-3 mb-5">
        <% if params[:seed_id] %>
          <span class="h3 border-bottom border-dark mt-2 mb-2"><strong><%= @seed.name %>一覧</strong></span><span class="h5"> (全<%= @individuals_all.count %>件)</span>
        <% else %>
          <span class="h3 border-bottom border-dark mt-2 mb-2"><strong>個体一覧</strong></span><span class="h5"> (全<%= @seeds_all.count %>件)</span>
        <% end %>
      <%= link_to '新規個体登録', new_individual_path, class: "btn btn-success" %>
      </div>

      <div class="individuals-list d-flex flex-wrap">
        <% @individuals.each do |individual| %>
        <div class="individual col-lg-3 col-md-6 mx-0">
        <%= link_to individual_path(individual), class: "text-dark" do %>
          <%= image_tag individual.get_image(200,200),class: "img-fluid" %><br>
          <p class="m-2">名前：<%= individual.name %></p>
          <p class="m-2">種類：<%= individual&.seed&.name %></p>
        <% end %>
        </div>
      <% end %>
    </div>
    <div class="pagination justify-content-center mt-3 mb-3">
    <%= paginate @individuals, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>