<h1>個体一覧</h1>

<h4>新規個体登録</h4>
<div>
  <%= link_to '新規個体登録', new_individual_path %>
</div>
プラスボタン、またはボタン

<div>
  <% @individuals.each do |individual| %>

  <%= link_to each_store_path(individual.id) do %>
  <%= individual.name %>
  <% end %>

    <%= individual.birthday %>
    <%= individual.age %>
    <%= individual.weight %>

  <% end %>
</div>