<h1>個体登録</h1>
※クリエイトアクションうまくうごかず、登録できない

<%= form_with model: @individual, url: individuals_path, method: :post, local: true do |f| %>
  <h4>個体名</h4>
  <div>
    <%= f.text_field :name %>
  </div>
   <h4>動物種</h4>
  <div>
    <%= f.label :seed_id %>
    <%#= f.collection_select :animal_spacies_id, AnimalSpecy.all, :id, :name, :include_blank => "カテゴリを選択してください" %>
    <%= f.select :seed_id, Seed.all.map{|o| [o.name, o.id]}, { include_blank: "--選択してください--" } %>
    ※管理者側で作成したジャンル(動物種)を選べるようにしたい、現状paramsのidがないよ！ってエラーがでる
  </div>
  <h4>生年月日</h4>
  <div>
    <%= f.date_field :birthday %>
  </div>
  <h4>年齢</h4>
  <div>
    <%= f.text_field :age %>
  </div>
  <h4>体重</h4>
  <div>
    <%= f.text_field :weight %>
  </div>


    <%= f.submit '登録' %>
<% end %>