<!--スペース用-->
<div class="text-center mb-5"></div>

<div class="container-fluid">
  <div class="row d-flex justify-content-center mx-auto">

    <div class="col-lg-2">
      <%= render 'store/homes/link' %>
    </div>

    <div class="contents-area col-lg-8 col-md-8">
      <!--スペース用-->
      <div class="text-center mb-3"></div>

      <div class="col-xl-10 col-lg-12 col-md-12">
        <%= render 'layouts/errors', obj: @each_store %>
        <h4 class="text-success"><%= flash[:notice] %></h4>
        <h4 class="text-danger"><%= flash[:alert] %></h4>

        <div class="col-lg-8 col-xs-12 col-lg-12">
          <h2 class="mb-4 border-bottom border-dark"><strong><%= @each_store.name %> 情報編集</strong></h2>
        </div>

        <% if current_store.id == @each_store.id &&  @each_store.name != "guestuser" %>
          <%= render "store/each_stores/edit", each_store: @each_store %>
        <% else %>
          <%= render "store/each_stores/guest_edit", each_store: @each_store %>
        <% end %>

      </div>
      
    </div>

  </div>
</div>

