<!--スペース用-->
<div class="text-center mb-5"></div>

<div class="container-fluid">
  <div class="row d-flex justify-content-center mx-auto">
    
    <div class="col-lg-2">
      <%= render 'store/homes/link' %>
    </div>

    <div class="contents-area col-lg-8 col-md-8">
      <!--スペース用-->
      <div class="text-center mb-3"></div>
      <h4 class="text-success"><%= flash[:notice] %></h4>
      <h4 class="text-danger"><%= flash[:alert] %></h4>

      <div class="col-xs-12 col-lg-6">
        <h2 class="mb-4 border-bottom border-dark"><strong>店舗一覧</strong></h2>
      </div>

      <%= render "store/each_stores/index", stores: @stores %>

      <div class="pagination justify-content-center mt-3 mb-3">
        <%= paginate @stores, theme: 'twitter-bootstrap-4' %>
      </div>
    
      <div class="text-center">
        <span id="top-btn">
          <a href="#">
            <i class="fas fa-chevron-up"></i>
          </a>
        </span>
      </div>
      
    </div>
    
  </div>
</div>