<!--スペース用-->
<div class="text-center mb-5"></div>

<div class="container-fluid">
  <div class="row d-flex justify-content-center mx-auto">

    <div class="col-lg-2">
      <%= render 'store/homes/link' %>
    </div>

    <div class="contents-area col-lg-8 col-md-8">
      <!--スペース用-->
      <div class="text-center mb-3"></div>

      <div class="col-xl-10 col-lg-12 col-md-12">
        <h4 class="text-success"><%= flash[:notice] %></h4>
        <h4 class="text-danger"><%= flash[:alert] %></h4>

        <div class="col-lg-8 col-xs-12 col-lg-12">
          <h2 class="mb-4 border-bottom border-dark"><strong><%= @each_store.name %>　情報詳細</strong></h2>
        </div>

        <div class="text-right">
          <% if current_store.id == @each_store.id %>
            <%= link_to edit_each_store_path, class: "btn rounded-circle btn-info" do %>
              <i class="fas fa-edit"></i>
            <% end %>
          <% end %>
        </div>

        <table class="table">
          <tr>
            <td>店舗名</td>
            <td><%= @each_store.name %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @each_store.email %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= @each_store.postal_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td>
              <%= @each_store.prefecture_name %>
              <%= @each_store.address_city %>
              <%= @each_store.address_street %>
              <%= @each_store.address_building %>
            </td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @each_store.phone_number %></td>
          </tr>
          <tr class="border-bottom">
            <td>店舗ステータス</td>
            <td>
              <% if @each_store.is_deleted == false %>
                <span class="font-weight-bold text-success">有効</span>
              <% else %>
                <span class="font-weight-bold text-danger">無効</span>
              <% end %>
            </td>
          </tr>
          <tr class="border-bottom">
            <td style="width: 40%">
              <%= link_to "投薬記録一覧を見る", medications_path(each_store_id: @each_store.id), class: "btn btn-info" %>
            </td>
          <tr class="border-bottom">
            <td style="width: 40%">
              <%= link_to "日報一覧を見る", dairies_path(store_id: @each_store.id), class: "btn btn-info" %>
            </td>
          </tr>
        </table>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <h2 class="mb-4 border-bottom border-dark"><strong>ブックマーク投薬記録一覧</strong></h2>
      </div>

      <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col">個体名</th>
            <th scope="col">種類名</th>
            <th scope="col">投薬ステータス</th>
            <th scope="col">投薬開始日</th>
            <th scope="col">投薬終了予定日</th>
            <th scope="col">所属店舗</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="table table-hover">
          <% if @favorite_list.present? %>
            <% @favorite_list.each do |medication| %>
              <tr>
                <td>
                  <%= link_to medication_path(medication.id) do %>
                    <%= image_tag medication.individual.get_image(60,60),class: "img-fluid rounded-circle" %>
                  <% end %>
                </td>
                <td>
                  <%= medication.individual.name %>
                </td>
                <td>
                  <%= medication.individual.seed.name %>
                </td>
                <td>
                  <% if medication.medication_status == "give" %>
                    <span class="text-danger"><strong><%= medication.medication_status_i18n %></strong></span>
                  <% else %>
                    <span class="text-success"><strong><%= medication.medication_status_i18n %></strong></span>
                  <% end %>
                </td>
                <td>
                  <%= medication.dosing_start_date %>
                </td>
                <td>
                  <%= medication.dosing_end_date %>
                </td>
                <td>
                  <%= medication.individual.store.name %>
                </td>
                <td>
                  <%= render 'store/favorites/favorite_btn', medication: medication %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>

</div>


<div class="text-center">
  <%= link_to '<<', each_stores_path, class: "btn btn-light rounded-circle" %>
</div>