<div class="text-center mb-5"></div>

<div class = "container" >
  <div class = "row" >
    <div class = "col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <h2 class="font-weight-bold col-3 ml-4 mb-4 text-nowrap">店舗情報詳細</h2>
      <h4 class="text-success"><%= flash[:notice] %></h4>
      <table class="table">
        <tr>
          <td>店舗名</td>
          <td><%= @each_store.name %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @each_store.email %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= @each_store.postal_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td>
            <%= @each_store.prefecture_name %>
            <%= @each_store.address_city %>
            <%= @each_store.address_street %>
            <%= @each_store.address_building %>
          </td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @each_store.phone_number %></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <% if current_store != @each_store %>
              <%= link_to '戻る', each_stores_path, class: "btn btn-success" %>
            <% else %>
              <%= link_to '編集する', edit_each_store_path, class: "btn btn-success" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>店舗ステータス</td>
          <td>
            <% if @each_store.is_deleted == false %>
              <span class="font-weight-bold text-success">有効</span>
            <% else %>
              <span class="font-weight-bold text-danger">無効</span>
            <% end %>
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <th style="width: 30%">投薬一覧</th>
          <td style="width: 40%"><%= link_to "一覧を見る", medications_path(medication_id: @each_store.id) %></td>
        </tr>
        <tr>
          <th style="width: 30%">日報一覧</th>
          <td style="width: 40%"><%= link_to "一覧を見る", dairies_path(store_id: @each_store.id) %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

      <!--<h5>日報一覧</h5>-->
      <!--<table class="table">-->
      <!--  <%# @each_store.dairies.each do |dairy| %>-->
      <!--    <tr>-->
      <!--      <td><%#= dairy.title %></td>-->
      <!--      <td><%#= dairy.created_at %></td>-->
      <!--    </tr>-->
      <!--  <%# end %>-->
      <!--</table>-->