<div class="text-center mb-5"></div>

<h4 class="text-success"><%= flash[:notice] %></h4>
<h4 class="text-danger"><%= flash[:alert] %></h4>
<div class="container-fluid">
  <div class="row d-flex justify-content-center mx-auto">
    <div class="col-lg-2">
      <%= render 'store/homes/link' %>
    </div>

    <div class="contents-area col-lg-8 col-md-8">

      <div class="text-center mb-3"></div>

      <div class="col-xl-10 col-lg-12 col-md-12">

        <div class="col-lg-8 col-xs-12 col-lg-12">
          <h2 class="mb-4 border-bottom border-dark"><strong><%= @each_store.name %> 日報情報詳細</strong></h2>
        </div>

        <div class="text-right">

          <% if current_store.id == @each_store.id %>
            <%= link_to edit_each_store_path, class: "btn rounded-circle btn-info" do %>
              <i class="fas fa-edit"></i>
            <% end %>
          <% end %>
        </div>

        <table class="table">
          <tr>
            <td>店舗名</td>
            <td><%= @each_store.name %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @each_store.email %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= @each_store.postal_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td>
              <%= @each_store.prefecture_name %>
              <%= @each_store.address_city %>
              <%= @each_store.address_street %>
              <%= @each_store.address_building %>
            </td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @each_store.phone_number %></td>
          </tr>
          <tr class="border-bottom">
            <td>店舗ステータス</td>
            <td>
              <% if @each_store.is_deleted == false %>
                <span class="font-weight-bold text-success">有効</span>
              <% else %>
                <span class="font-weight-bold text-danger">無効</span>
              <% end %>
            </td>
          </tr>
          <tr class="border-bottom">
            <td style="width: 40%"><%= link_to "日報一覧を見る", dairies_path(store_id: @each_store.id), class: "btn btn-info" %></td>
          </tr>
        </table>

        <div class="text-center">
          <%= link_to '<<', each_stores_path, class: "btn btn-light rounded-circle" %>
        </div>

      </div>

  </div>
</div>