<div class="text-center mb-5"></div>

<div class = "container" >
  <div class = "row" >
    <div class = "col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <h2 class="font-weight-bold col-3 ml-4 mb-4 text-nowrap">店舗情報詳細</h2>
      <table class="table">
        <tr>
          <td>店舗名</td>
          <td><%= @each_store.name %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @each_store.email %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= @each_store.postal_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%#= @each_store.address %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @each_store.phone_number %></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <% if current_store != @each_store %>
              <%= link_to '戻る', each_stores_path, class: "btn btn-success" %>
            <% else %>
              <%= link_to '編集する', edit_each_store_path, class: "btn btn-success" %>
            <% end %>
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <th style="width: 30%">投薬一覧</th>
          <td style="width: 40%">リンク張る<%#= link_to "一覧を見る", addresses_path, class: "btn btn-outline-info" %></td>
        </tr>
        <tr>
          <th style="width: 30%">日報一覧</th>
          <td style="width: 40%">リンクはる<%#= link_to "一覧を見る", orders_path, class: "btn btn-sm btn-info" %></td>
        </tr>
      </table>

    </div>
  </div>
</div>