<div class="text-center mb-5"></div>

<div class="container-fluid">
  <div class="row d-flex justify-content-center mx-auto">

    <div class="col-lg-2">
      <%= render 'store/homes/link' %>
      <%#= render 'store/homes/medicine', medicines: @medicines %>
    </div>

    <div class="contents-area col-lg-8 col-md-8">

      <h4 class="text-success"><%= flash[:notice] %></h4>
      <h4 class="text-danger"><%= flash[:alert] %></h4>

      <div class="text-center mb-3"></div>

      <div class="col-xs-12 col-lg-6">
        <h2 class="mb-4 border-bottom border-dark"><strong>投薬一覧</strong></h2>
      </div>

      <div class="text-left ">
        <%= link_to new_medication_path, class: "btn btn-{themecolor}.rounded-circle.p-0 btn-success border border-2 ", method: :get do %>
          <i class="fas fa-plus"></i>投薬記録作成
        <% end %>
      </div>

      <table class="table">
        <thead class="table-dark">
          <%= link_to '新しい順', medications_path(latest: "true",individual_id: params[:individual_id], each_store_id: params[:each_store_id]),class: "text-info" %>
         |<%= link_to '古い順', medications_path(old: "true",individual_id: params[:individual_id], each_store_id: params[:each_store_id]),class: "text-info" %>
          <tr>
            <th scope="col"></th>
            <th scope="col">個体名</th>
            <th scope="col">種類名</th>
            <th scope="col">投薬ステータス</th>
            <th scope="col">投薬開始日</th>
            <th scope="col">投薬終了予定日</th>
            <th scope="col">所属店舗</th>
          </tr>
        </thead>
        <tbody class="table table-hover">
          <% @medications.each do |medication| %>
          <tr>
            <td>
              <%= link_to medication_path(medication.id) do %>
                <%= image_tag medication.individual.get_image(60,60),class: "img-fluid rounded-circle" %>
              <% end %>
            </td>
            <td>
              <%= medication.individual.name %>
            </td>
            <td>
              <%= medication.individual.seed.name %>
            </td>
            <td>
              <% if medication.medication_status == "give" %>
                <span class="text-danger"><strong><%= medication.medication_status_i18n %></strong></span>
              <% else %>
                <span class="text-success"><strong><%= medication.medication_status_i18n %></strong></span>
              <% end %>
            </td>
            <td>
              <%= medication.dosing_start_date %>
            </td>
            <td>
              <%= medication.dosing_end_date %>
            </td>
            <td>
              <%= medication.individual.store.name %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class="pagination justify-content-center mt-3 mb-3">
        <%= paginate @medications, theme: 'twitter-bootstrap-4' %>
      </div>

      <div class="text-center">
        <span id="top-btn">
          <a href="#">
            <i class="fas fa-chevron-up"></i>
          </a>
        </span>
      </div>

    </div>

  </div>
</div>