<!--スペース用-->
<div class="mb-5"></div>

  <div class="container mt-5">
    <h3>
    <span style="background-color: #c0c0c0;">投薬記録の新規作成</span>
    </h3>
    <div class="text-center mb-5"></div>

      <div class="row">
        <div class="col">
          <h4><span style="background-color: #c0c0c0;">投薬記録の新規作成</span></h4>
        </div>
        <div class="col">
          <h4><span style="background-color: #c0c0c0;">計算する</span></h4>
        </div>
      </div>

      <!--スペース用-->
      <div class="mb-3"></div>

      <%= form_with model: @medication, url: individuals_path, method: :post, local: true do |f| %>
      <div class="row">
        <div class="col"><label for="dosing_start_date">投薬開始日</label>
          <%= f.date_field :dosing_start_date, class: "form-control" %>
        </div>
        <div class="col"><label for="dosing_end_date">投薬終了予定日</label>
          <%= f.date_field :dosing_end_date, class: "form-control" %>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="weight">体重</label>
            <%= f.text_field :weight, class: "form-control" %>
          </div>
        </div>
        <div class="col"></div>
      </div>

      <!--スペース用-->
      <div class="mb-3"></div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="medication_status">投薬ステータス:</label>
            <%= f.label :medication_status_give, '投薬あり' %>
            <%= f.radio_button :medication_status, :give %>
            <%= f.label :medication_status_, '投薬なし' %>
            <%= f.radio_button :medication_status, :not_give %>
          </div>
          <div class="form-group">
            <label for="individual">個体</label>
            <%= f.select :individual_id, Individual.all.map{|o| [o.name, o.id]}, { include_blank: "--選択してください--" }, class: "form-control" %>
            <!--できたら自店の個体のみ選択欄に入れるor検索して登録-->
          </div>
          <div class="form-group">
            <label for="weight">体重</label>
            <%= f.text_field :weight, placeholder: "体重を入力してください(小数点第１位まで「0.1」)", class: "form-control" %>
          </div>

          <!--#投薬回数日本語化-->
          <div class="form-group">
            <label for="dosage_indicated">投薬回数：</label>
            <%#= f.select :dosing_times, Medication.dosing_times.map{|o| [o.name, o.id]}, { include_blank: "--選択してください--" },class: "form-control"  %>
            <!--日本語化できない、map内の意味が理解できない(配列の書き方)-->
            <%#= f.select :dosing_times, Medication.dosing_times_i18n.keys.map{|k| [I18n.t("enum.medication.dosing_times.#{k}"),k]}, class: "form-control"  %>
            <%= f.select :dosing_times, Medication.dosing_times_i18n.to_a.map{|s| [t("medication.enum.dosing_times.#{s[0]}"),s[1]]},{ include_blank: "--選択してください--" }, class: "form-control"  %>
          </div>


          <div class="form-group">
            <label for="dosage_indicated">必要量(mg/kg)：先生からの指示量を入力</label>
            <%= f.text_field :dosage_indicated, placeholder: "先生からの指示量を入力してください",class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="ingredients_per_tablets">1錠分の成分量(mg/T)：箱に記載されている量</label>
            <%= f.text_field :ingredients_per_tablets, placeholder: "箱に記載されている成分量を入力してください",class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="number_of_tablets">錠剤の個数(個)：分数表示or分数表示(結果)</label>
            <%= f.text_field :number_of_tablets, class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="liquid_amount">液体量(ml)</label>
            <%= f.text_field :liquid_amount, class: "form-control" %>
          </div>

          <div class="form-group">
            <label for="medication_body">備考</label>
            <%= f.text_area :body, class: "form-control" %>
          </div>
        </div>
      </div>
      <%= f.submit "投稿する", class: "btn btn-primary" %>
    <% end %>
</div>
