<!--スペース用-->
<div class="mb-5"></div>

<div class="container mt-5">
  <h3>
  <span style="background-color: #c0c0c0;">投薬記録の新規作成</span>
  </h3>
  <div class="text-center mb-5"></div>

    <div class="row">
      <div class="col">
        <h4><span style="background-color: #c0c0c0;">投薬記録の新規作成</span></h4>
      </div>
      <div class="col">
        <h4><span style="background-color: #c0c0c0;"></span></h4>
      </div>
    </div>

    <!--スペース用-->
    <div class="mb-3"></div>

    <%= form_with model: @medication, url: medications_path, method: :post, local: true do |f| %>
    <div class="row">
      <div class="col">
        <label for="dosing_start_date">投薬開始日</label>
        <%= f.date_field :dosing_start_date, class: "form-control" %>
      </div>
      <div class="col">
        <label for="dosing_end_date">投薬終了予定日</label>
        <%= f.date_field :dosing_end_date, class: "form-control" %>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="medication_status">投薬ステータス: </label></br>
          <%= f.label :medication_status_give, '投薬あり' %>
          <%= f.radio_button :medication_status, :give %>
          <%= f.label :medication_status_, '投薬なし' %>
          <%= f.radio_button :medication_status, :not_give %>
        </div>
      </div>
    </div>

    <!--スペース用-->
    <div class="mb-3"></div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="individual">個体</label>
          <%= f.select :individual_id, Individual.all.map{|o| [o.name, o.id]}, { include_blank: "--選択してください--" }, class: "form-control" %>
          <!--できたら自店の個体のみ選択欄に入れるor検索して登録-->
        </div>
        <div class="form-group">
          <label for="weight">①　体重</label>
          <%= f.text_field :weight, placeholder: "小数点第１位まで「0.1」)", class: "form-control", id: "weight" %>
        </div>

      </div>

      <div class="col-md-8">
        <div class="form-group">
          <label for="medication_body">備考</label>
          <%= f.text_area :body, class: "form-control" %>
        </div>
      </div>
    </div>

    <!--スペース用-->
    <div class="mb-3"></div>
    <div class="row">
      <div class="col">
        <h4><span style="background-color: #c0c0c0;">投薬情報入力</span></h4>
      </div>
      <div class="col">
        <h4><span style="background-color: #c0c0c0;">投薬計算結果</span></h4>
      </div>
    </div>

    <!--スペース用-->
    <div class="mb-3"></div>
    <div class="row">
      <div class="col-md-6">

        <!--薬の種類選択-->
        <div class="form-group">
          <label for="medicine">②　薬の種類</label></br>
          1錠分の成分量(mg/T)登録数値反映されてる
          <%= f.select :medicine_id, Medicine.all.map{|o| [o.name, o.ingredients_per_tablet]}, { include_blank: "--選択してください--" }, class: "form-control", id: "medicine" %>
        </div>
        <div class="form-group">
          <label for="dosing_times">B.　投薬回数：</label>
          <%= f.select :dosing_times, NumberOfTime.all.map{|o| [o.name, o.dosing_times]}, { include_blank: "--選択してください--" }, class: "form-control", id: "dosing_times" %>
          <%#= f.select :dosing_times, Medication.dosing_times_i18n.keys.map{|k| [I18n.t("enums.medication.dosing_times.#{k}"),k]},{ include_blank: "--選択してください--" }, class: "form-control"  %>
        </div>
        <div class="form-group">
          <label for="dosage_indicated" >③　必要量(mg/kg)：</label>
          <%= f.text_field :dosage_indicated, placeholder: "先生からの指示量を入力してください", class: "form-control", id: "dosage_indicated" %>
        </div>
        <div class="form-group">
          <label for="give_liquid">④　与えたい液体量(ml)：</label>
          <%= f.text_field :give_liquid, placeholder: "例）1、0.5など",class: "form-control", id: "give_liquid" %>
        </div>
        <div class="form-group">
          <label for="several_days">A.　投薬日数：</label></br>
          <%= f.text_field :several_days, class: "form-control", id: "several_days" %>
        </div>

      </div>



      <div class="col-md-6">
        <div class="form-group">
          <label>⑤体重に対する必要量：いらないけど</label>
          <p>　＝　①体重*③必要量(先生指示)</p>
          <div id="weight_requirement"></div>
          <%= f.hidden_field :出力結果のカラム名, id: "weight_requirement_value" %>
        </div>
        <div>
          <label>⑥1回に必要な錠剤の個数 x錠：</label>
          <p>　＝　①体重*⑤必要量/③1錠分の成分量：</p>
          <div id="number_of_tablets"></div>
          <%= f.hidden_field :number_of_tablets, id: "number_of_tablets_value" %>
        </div>
        <div>
          <label>⑦1回に必要な錠剤の個数(整数)：</label>
          <p>　＝　１/⑥</p>
        </div>
        <div>
          <label>⑧ｎ日分に必要な錠剤の個数(整数)：</label>
          <p>　＝　1/⑨</p>
        </div>
        <div>
          <label>⑨ｎ日分に必要な錠剤の個数(整数)：</label>
          <p>　＝　A*B*⑦</p>
        </div>
        <h3>1錠を溶かす場合：</h3>
        <div>
          <label>溶かすための液体量</label>
          <p>　＝　⑥*④</p>
        </div>
      </div>
      <%= f.submit "保存する", class: "btn btn-primary" %>
     <% end %>
    </div>
</div>
