<!--スペース用-->
<div class="mb-5"></div>

<div class="container my-4">
  <%= render 'layouts/errors', obj: @medication %>
  <h4 class="text-success"><%= flash[:notice] %></h4>
  <h4 class="text-danger"><%= flash[:alert] %></h4>
  
  <h2 class="mb-4 border-bottom border-dark"><strong>情報入力</strong></h2>
  <%= form_with model: @medication, url: medications_path, method: :post, local: true do |f| %>
    <div class="row">
    <div class="col-xs-12 col-lg-6">
      <h3 class="mb-4"><strong>基本情報</strong></h3>
      <div class="form-group">
        <div class=" my-3 form-check">
          <table>
            <tr>
              <th><%= f.label :dosing_start_date, "投薬開始日" %></th>
              <td class="pl-5">
                <%= f.date_field :dosing_start_date, class: "form-control" %>
              </td>
            </tr>
            <tr>
              <th><%= f.label :dosing_end_date, "投薬終了予定日" %></th>
              <td class="pl-5">
                <%= f.date_field :dosing_end_date, class: "form-control" %>
              </td>
            </tr>
            <tr>
              <th><%= f.label :medication_status, "投薬ステータス" %></th>
              <td class="pl-5">
                <%= f.label :medication_status_give, '投薬あり' %>
                <%= f.radio_button :medication_status, :give %>
                <%= f.label :medication_status_, '投薬なし' %>
                <%= f.radio_button :medication_status, :not_give %>
              </td>
            </tr>
            <tr>
              <th><%= f.label :individual_id, "個体" %></th>
              <td class="pl-5">
                <%= f.select :individual_id, Individual.all.map{|o| [o.name, o.id]}, { include_blank: "--選択してください--" }, class: "form-control" %>
              </td>
            </tr>
            <tr>
              <th><%= f.label :weight, "体重" %></th>
              <td class="pl-5">
                <%= f.text_field :weight, placeholder: "小数点第１位まで「0.1」)", class: "form-control", id: "weight" %>
              </td>
            </tr>
          </table>
        </div><p></p>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <strong><%= f.label :condition, "症状" %></strong>
      <%= f.text_field :condition, class: "form-control" %>
      <strong><%= f.label :body, "備考" %></strong>
      <%= f.text_area :body, class: "form-control", size: "40x6" %>
    </div>
  </div>


    <div class="row">
    <div class="col-xs-12 col-lg-6">
      <h3 class="mb-4"><strong>投薬情報入力</strong></h3>
      <div class="form-group">
        <div class=" my-3 form-check">
          <%= f.fields_for :medicine_records do |m| %>
            <table>
              <tr>
                <th><%= m.label :medicine_id, "薬の種類" %></th>
                <td class="pl-5">
                  <%= m.select :medicine_id, Medicine.all.map{|o| ["#{o.name} #{o.ingredients_per_tablet}", o.id]}, { include_blank: "--選択してください--" }, class: "form-control", id: "medicine" %>
                </td>
              </tr>
              <tr>
                <th><%= m.label :dosage_indicated, "必要量(mg/kg)" %></th>
                <td class="pl-5">
                  <%= m.text_field :dosage_indicated, placeholder: "先生からの指示量を入力してください", class: "form-control", id: "dosage_indicated" %>
                </td>
              </tr>
              <tr>
              <th><%= m.label :number_of_time_id, "投薬回数" %></th>
                <td class="pl-5">
                  <%= m.select :number_of_time_id, NumberOfTime.all.map{|o| ["#{o.name} #{o.dosing_times}", o.id]}, { include_blank: "--選択してください--" }, class: "form-control", id: "dosing_times" %>
                </td>
              </tr>
            </table>
          <% end %>
          <table>
            <tr>
              <th><%= f.label :give_liquid, "与えたい液体量(ml)" %></th>
              <td class="pl-5">
                <%= f.text_field :give_liquid, placeholder: "例）1、0.5など",class: "form-control", id: "give_liquid" %>
              </td>
            </tr>
            <tr>
              <th><%= f.label :several_days, "投薬日数" %></th>
              <td class="pl-5">
                <%= f.text_field :several_days, class: "form-control", id: "several_days" %>
              </td>
            </tr>
          </table>
        </div><p></p>
      </div>
    </div>

    <div class="col-xs-12 col-lg-6">
      <h3 class="mb-4"><strong>計算結果</strong></h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>項目</th>
            <th>結果</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1回に必要な錠剤の個数</td>
            <td>
              <div id="number_of_tablets"></div>
              <%= f.hidden_field :number_of_tablets, id: "number_of_tablets_value" %>
            </td>
          </tr>
          <tr>
            <td>ｎ日分に必要な錠剤の個数(整数)</td>
            <td><div id="n_days_tablets"></div></td>
          </tr>
          <tr>
            <td>溶かすための液体量</td>
            <td>
              <div id="liquid_amount"></div>
              <%= f.hidden_field :liquid_amount, id: "liquid_amount_value" %>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="text-right">
        <%= f.submit "保存する", class: "btn btn-info" %>
      </div>
    </div>

  </div>
  <% end %>
</div>
