

<div class="text-center mb-5"></div>

<div class = "container" >
  <div class = "row" >
    <div class = "col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <h2 class="font-weight-bold col-3 ml-4 mb-4 text-nowrap"><%= @medication.individual.name %>の投薬記録詳細</h2>
      <h4 class="text-success"><%= flash[:notice] %></h4>
      <table class="table">
        <tr>
          <td>個体名：</td>
          <td>
            <%= link_to individual_path(@medication.individual_id) do %>
              <%= @medication.individual.name %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>投薬開始日：<%= @medication.dosing_start_date %></td>
          <td>投薬終了予定日：<%= @medication.dosing_end_date %></td>
        </tr>
        <tr>
          <td>投薬ステータス：</td>
          <td>
            <% if @medication.medication_status == false %>
              <span class="font-weight-bold text-success">投薬終了</span>
            <% else %>
              <span class="font-weight-bold text-danger">投薬中</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>備考：</td>
          <td>
            <%= @medication.body %>
          </td>
        </tr>
        <tr>
          <td>1回に必要な錠剤の個数：</td>
          <td><%= @medication.number_of_tablets %></td>
        </tr>
        <tr>
          <td>溶かすための液体量：</td>
          <td><%= @medication.liquid_amount %></td>
        </tr>
        <tr>
          <td>
            <% if @medication.store == current_store %>
              <%= link_to '編集する', edit_medication_path, class: "btn btn-success" %>
              <%= link_to "削除", medication_path(@medication.id), method: :delete,
               data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger ml-3" %>
            <% else %>
              <%= link_to '一覧へ戻る', medications_path, class: "btn btn-success" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>