<div class="container">
  <div class="row">
    <h2>検索結果</h2>

    <table class="table table-hover table-inverse">
      <% if @range == "Store" %>
        <tbody>
          <% @store.each do |store| %>
            <tr>
              <td>
                <%= link_to each_store_path(store.id) do %>
                  <%= store.name %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% elsif %>
        <tbody>
          <% @individuals.each do |individual| %>
            <tr>
              <td>
                <%= link_to individual_path(individual.id) do %>
                  <%= individual.name %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% else %>
        <tbody>
          <% @medications.each do |medication| %>
            <tr>
              <td>
                <%= link_to medication_path(medication.id) do %>
                  <%#= medication.medicine.name %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>

    </table>
  </div>
</div>

