<div class="container">
  <div class="row">
    <h2>検索結果</h2>

    <% if @range == "Store" %>

      <%= render "store/each_stores/index", stores: @stores %>

    <% else %>

      <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col">個体名</th>
            <th scope="col">種類名</th>
            <th scope="col">生年月日</th>
          </tr>
        </thead>
        <tbody class="table table-hover">
          <% @individuals.each do |individual| %>
            <tr>
              <td>
                <%= link_to individual_path(individual.id) do %>
                  <%= image_tag individual.get_image(60,60),class: "img-fluid rounded-circle" %>
                <% end %>
              </td>
              <td>
                <%= individual.name %>
              </td>
              <td>
                <%= individual.seed.name %>
              </td>
              <td>
                <%= individual.birthday %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

