<!--スペース用-->
<div class="text-center mb-5"></div>

<div class="container-fluid">
  <div class="row d-flex justify-content-center mx-auto">
    
    <div class="col-lg-2">
      <%= render 'admin/homes/link' %>
    </div>

    <div class="contents-area col-lg-8 col-md-8">
      <h4 class="text-success"><%= flash[:notice] %></h4>
      <h4 class="text-danger"><%= flash[:alert] %></h4>

      <!--スペース用-->
      <div class="text-center mb-3"></div>

      <div class="col-xs-12 col-lg-6">
        <h2 class="mb-4 border-bottom border-dark"><strong>日報一覧</strong></h2>
      </div>

      <table class="table table-hover">
        <thead class="bg-dark text-light">
          <%= link_to '新しい順', admin_dairies_path(latest: "true", store_id: params[:store_id]),class: "text-info" %>
         |<%= link_to '古い順', admin_dairies_path(old: "true", store_id: params[:store_id]),class: "text-info" %>
          <tr>
            <th scope="col"></th>
            <th scope="col">店舗名</th>
            <th scope="col">日付</th>
            <th scope="col">タイトル</th>
          </tr>
        </thead>
        <tbody>
          <% @dairies.each do |dairy| %>
          <tr>
            <td class="h5">
              <%= link_to admin_dairy_path(dairy.id), class: "text-info" do %>
                <i class="fas fa-file-alt"></i>
              <% end %>
            </td>
            <td>
              <%= dairy.store.name %>
            </td>
            <td>
              <%= dairy.created_date %>
            </td>
            <td>
              <%= dairy.title %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    
    <div class="pagination justify-content-center mt-3 mb-3">
      <%= paginate @dairies, theme: 'twitter-bootstrap-4' %>
    </div>
    
    <!--ページ上部へ-->
    <div class="text-center">
      <span id="top-btn">
        <a href="#">
          <i class="fas fa-chevron-up"></i>
        </a>
      </span>
    </div>
    
  </div>
</div>