<!--スペース用-->
<div class="text-center mb-5"></div>


<div class="container-fluid">
  <div class="row d-flex justify-content-center mx-auto">

    <div class="col-lg-2">
      <%= render 'admin/homes/link' %>
    </div>

    <div class="contents-area col-lg-8 col-md-8">
      <h4 class="text-success"><%= flash[:notice] %></h4>
      <h4 class="text-danger"><%= flash[:alert] %></h4>

      <!--スペース用-->
      <div class="text-center mb-3"></div>

      <div class="col-xl-10 col-lg-12 col-md-12">

        <div class="col-lg-8 col-xs-12 col-lg-12">
          <h2 class="mb-4 border-bottom border-dark"><strong><%= @dairy.store.name %> 日報情報詳細</strong></h2>
        </div>

        <div class="col-xl-12 col-xs-12 col-lg-12">
          <table class="table">
            <tr>
              <th>店舗名</th>
              <td><%= @dairy.store.name %></td>
            </tr>
            <tr>
              <th>作成日</th>
              <td><%= @dairy.created_date %></td>
            </tr>
            <tr>
              <th>天気</th>
              <td>
                <%= @dairy.weather.name %>
              </td>
            </tr>
            <tr>
              <th>最高気温</th>
              <td><%= @dairy.high_temperature %></td>
            </tr>
            <tr>
              <th>最低気温</th>
              <td>
                <%= @dairy.low_temperature %>
              </td>
            </tr>
            <tr>
              <th>タイトル</th>
              <td><%= @dairy.title %></td>
            </tr>
            <tr>
              <th>内容</th>
              <td><%= @dairy.body %></td>
            </tr>
          </table>

          <div class="text-center">
            <%= link_to "<<", each_stores_path, class: "btn btn-outline-secondary rounded" %>
          </div>

          <!--スペース用-->
          <div class="mb-4"></div>

        </div>

      </div>

    </div>

  </div>
</div>