<div class="jumbotron">
  <div class="container text-right">
    <h1>welcome to <i class="fas fa-paw"></i></h1>
    <h1 class="responsive"><i class="fas fa-notes-medical"></i> <strong>Animal medication dairy</strong></h1>
    <p><i class="fas fa-notes-medical"></i><strong>Animal medication dairy</strong>は, </p>
    <p>動物の日誌や薬の計算をすることができるアプリです<i class="fas fa-paw"></i></p>
  </div>
</div>



<div class="container-fluid">
  <div class="row d-flex justify-content-center mx-auto">
    
    <div class="col-lg-2">
      <%= render 'admin/homes/link' %>
    </div>

    <div class="contents-area col-lg-8 col-md-8">
      <h4 class="text-success"><%= flash[:notice] %></h4>
      <h4 class="text-danger"><%= flash[:alert] %></h4>

      <!--スペース用-->
      <div class="text-center mb-3"></div>

      <div class="col-xs-12 col-lg-6">
        <h2 class="mb-4 border-bottom border-dark"><strong>投薬記録　コメント新着</strong></h2>
      </div>

      <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col">コメント</th>
            <th scope="col">個体名</th>
            <th scope="col">種類名</th>
            <th scope="col">症状</th>
            <th scope="col">投薬開始日</th>
            <th scope="col">投薬終了予定日</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="table table-hover">
          <% @comments.each do |comment| %>
          <tr>
            <td>
              <%= link_to admin_medication_path(comment.medication.id) do %>
                <%= image_tag comment.medication.individual.get_image(60,60),class: "img-fluid rounded-circle" %>
              <% end %>
            </td>
            <td>
              <%= comment.comment %>
            </td>
            <td>
              <%= comment.medication.individual.name %>
            </td>
            <td>
              <%= comment.medication.individual.seed.name %>
            </td>
            <td>
              <%= comment.medication.condition %>
            </td>
            <td>
              <%= comment.medication.dosing_start_date %>
            </td>
            <td>
              <%= comment.medication.dosing_end_date %>
            </td>
            <td>
              <% if comment.medication.medication_status == "give" %>
                <span class="text-danger"><strong><%= comment.medication.medication_status_i18n %></strong></span>
              <% else %>
                <span class="text-success"><strong><%= comment.medication.medication_status_i18n %></strong></span>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class="mt-2 mb-3 text-center">
        <%= link_to admin_medications_path, class: "btn btn-{themecolor}.rounded-circle.p-0 btn-info border border-2 ", method: :get do %>
          投薬一覧へ <i class="fas fa-hand-point-up"></i>
        <% end %>
      </div>

  </div>
</div>