<div class="mb-5"></div>
<h4 class="text-success"><%= flash[:notice] %></h4>
<div class="container">
  <div class="row">
    <div class='mx-auto text-responsive'>
      <h1>welcome to </h1>
      <h1 class="responsive"><i class="fas fa-notes-medical"></i> <strong>Animal Medication Dairy</strong> </h1>
      <p><i class="fas fa-notes-medical"></i><strong>Animal Medication Dairy</strong>は, </p>
      <p>動物の日誌や投薬計算とをすることができるアプリです<i class="fas fa-paw"></i></p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to admin_stores_path, class: "btn btn-success btn-sm btn-block mb-3" do %>
            <i class="fas fa-store"></i> 店舗一覧
          <% end %>
        </div>
        <div class="row">
          <%= link_to admin_medicines_path, class: "btn btn-success btn-sm btn-block mb-3" do %>
          <i class="fas fa-pills"></i> 薬登録
          <% end %>
        </div>
        <div class="row">
          <%= link_to admin_number_of_times_path, class: "btn btn-success btn-sm btn-block mb-3" do %>
          <i class="fas fa-stopwatch-20"></i> 回数登録
          <% end %>
        </div>
        <div class="row">
          <%= link_to admin_seeds_path, class: "btn btn-success btn-sm btn-block mb-3" do %>
          <i class="fas fa-paw"></i> 動物種登録
          <% end %>
        </div>
        <div class="row">
          <%= link_to admin_weathers_path, class: "btn btn-success btn-sm btn-block mb-3" do %>
          <i class="fas fa-cloud-sun"></i> 天気登録
          <% end %>
        </div>
        <div class="row">
          <%= link_to admin_individuals_path, class: "btn btn-success btn-sm btn-block mb-3" do %>
            <i class="fas fa-paw"></i> 個体一覧
          <% end %>
        </div>
        <div class="row">
          <%= link_to admin_dairies_path, class: "btn btn-success btn-sm btn-block mb-3" do %>
          <i class="fas fa-book-open"></i> 日報一覧
          <% end %>
        </div>
        <div class="row">
          <%= link_to admin_medications_path, class: "btn btn-success btn-sm btn-block mb-3" do %>
          <i class="fas fa-book-open"></i> 投薬一覧
          <% end %>
        </div>
        <div class="row">
          <%= link_to destroy_store_session_path, method: :delete, class: "btn btn-secondary btn-sm btn-block mb-3" do %>
            <i class="fas fa-sign-out-alt"></i> Log out
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="section s_01">

  <div class="accordion_one">
    <div class="accordion_header">アコーディオン、シンプル版<div class="i_box"><i class="one_i"></i></div></div>
    <div class="accordion_inner">
      <div class="box_one">
        <p class="txt_a_ac">アコーディオンの中身です。</p>
      </div>
    </div>
  </div>
  
  <div class="accordion_one">
    <div class="accordion_header">アコーディオン、シンプル版<div class="i_box"><i class="one_i"></i></div></div>
    <div class="accordion_inner">
      <div class="box_one">
        <p class="txt_a_ac">アコーディオンの中身です。</p>
      </div>
    </div>
  </div>
  
  <div class="accordion_one">
    <div class="accordion_header">アコーディオン、シンプル版<div class="i_box"><i class="one_i"></i></div></div>
    <div class="accordion_inner">
      <div class="box_one">
        <p class="txt_a_ac">アコーディオンの中身です。</p>
      </div>
    </div>
  </div>
  
  <p class="_a"><a href="https://125naroom.com/web/3046" target="_blank" class="link">View the note</a></p>
</div>