<!--<div class="jumbotron">-->
<!--  <div class="container text-right">-->
<!--    <h1>welcome to <i class="fas fa-paw"></i></h1>-->
<!--    <h1 class="responsive"><i class="fas fa-notes-medical"></i> <strong>Animal Medication Dairy</strong></h1>-->
    <%#= image_tag 'top.jpg', class: "img-fluid" %>
<!--    <p><i class="fas fa-notes-medical"></i><strong>管理者ページ</strong>では, </p>-->
<!--    <p>店舗側で必要なジャンルの登録ができたり、</br>-->
<!--    登録された記録を確認することができます<i class="fas fa-paw"></i></p>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="mb-5"></div>-->
<!--<div class="container">-->
<!--  <h4 class="text-success"><%#= flash[:notice] %></h4>-->
<!--  <div class="row">-->
<!--  <%#= render 'admin/homes/accordion' %>-->
<!--  <div class='mx-auto text-responsive'>-->
    <!--アコーディオン-->

    <!--<h1>welcome to </h1>-->
    <!--<h1 class="responsive"><i class="fas fa-notes-medical"></i> <strong>Animal Medication Dairy</strong> </h1>-->
    <!--<p><i class="fas fa-notes-medical"></i><strong>Animal Medication Dairy</strong>は, </p>-->
    <!--<p>動物の日誌や投薬計算とをすることができるアプリです<i class="fas fa-paw"></i></p>-->

<!--  </div>-->
<!--</div>-->

<!--</div>-->



<div class="jumbotron">
  <div class="container text-right">
    <h1>welcome to <i class="fas fa-paw"></i></h1>
    <h1 class="responsive"><i class="fas fa-notes-medical"></i> <strong>Animal Medication Dairy</strong></h1>
    <p><i class="fas fa-notes-medical"></i><strong>Animal Medication Dairy</strong>は, </p>
    <p>動物の日誌や薬の計算をすることができるアプリです<i class="fas fa-paw"></i></p>
  </div>
</div>

<div class="container-fluid">
   <h4 class="text-success"><%= flash[:notice] %></h4>
    <div class="row d-flex justify-content-center">

      <div class="col-xl-2 col-lg-3 col-md-8 mr-3">
          <%= render 'admin/homes/link' %>
      </div>

      <div class="contents-area col-xl-5 col-lg-7 rounded px-5 mb-4">
            <!--スペース用-->
        <div class="mb-5"></div>

        <div class="row my-4 d-flex justify-content-center">
          <div class="row">
            <div class="col-xs-12 col-lg-6">
              <h2 class="mb-4 border-bottom border-dark"><strong>投薬記録　新着</strong></h2>
            </div>
            <div class="col-xs-12 col-lg-12">

              <table class="table">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">個体名</th>
                    <th scope="col">種類名</th>
                    <th scope="col">薬名</th>
                    <th scope="col">投薬開始日</th>
                    <th scope="col">投薬終了予定日</th>
                  </tr>
                </thead>
                <tbody class="table table-hover">
                  <% @medications.each do |medication| %>
                  <tr>
                    <td>
                      <%= link_to admin_medication_path(medication.id) do %>
                        <%= medication.individual.name %>
                      <% end %>
                    </td>
                    <td>
                      <%= medication.individual.seed.name %>
                    </td>
                    <td>
                      <% medication.medicine_records.each do |mr| %>
                        <%= mr.medicine.name %>
                      <% end %>
                    </td>
                    <td>
                      <%= medication.dosing_start_date %>
                    </td>
                    <td>
                      <%= medication.dosing_end_date %>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>

            </div>
          </div>
        </div>

        <div class="mt-2 mb-3 text-center">
          <%= link_to new_medication_path, class: "btn btn-{themecolor}.rounded-circle.p-0 btn-info border border-2 ", method: :get do %>
            投薬一覧へ
          <% end %>
        </div>

      </div>
    </div>
</div>