<h4 class="text-success"><%= flash[:notice] %></h4>
<div class="mb-5"></div>
<div class="container">
  <div class="row">
    <div class='mx-auto text-responsive'>
      <h1>welcome to </h1>
      <h1 class="responsive"><i class="fas fa-notes-medical"></i> <strong>Animal Medication Dairy</strong> </h1>
      <p><i class="fas fa-notes-medical"></i><strong>Animal Medication Dairy</strong>は, </p>
      <p>動物の日誌や投薬計算とをすることができるアプリです<i class="fas fa-paw"></i></p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to admin_stores_path, class: "btn btn-success btn-sm btn-block mb-3" do %>
            <i class="fas fa-store"></i> 店舗一覧
          <% end %>
        </div>
        <div class="row">
          <%= link_to admin_medicines_path, class: "btn btn-success btn-sm btn-block mb-3" do %>
          <i class="fas fa-pills"></i> 薬登録
          <% end %>
        </div>
        <div class="row">
          <%= link_to admin_number_of_times_path, class: "btn btn-success btn-sm btn-block mb-3" do %>
          <i class="fas fa-stopwatch-20"></i> 回数登録
          <% end %>
        </div>
        <div class="row">
          <%= link_to individuals_path, class: "btn btn-success btn-sm btn-block mb-3" do %>
          <i class="fas fa-paw"></i> 動物種登録
          <% end %>
        </div>
        <div class="row">
          <%= link_to admin_weathers_path, class: "btn btn-success btn-sm btn-block mb-3" do %>
          <i class="fas fa-cloud-sun"></i> 天気登録
          <% end %>
        </div>
        <div class="row">
          <%= link_to admin_dairies_path, class: "btn btn-success btn-sm btn-block mb-3" do %>
          <i class="fas fa-book-open"></i> 日報一覧
          <% end %>
        </div>
        <div class="row">
          <%= link_to admin_individuals_path, class: "btn btn-success btn-sm btn-block mb-3" do %>
          <i class="fas fa-paw"></i> 個体一覧
          <% end %>
        </div>
        <div class="row">
          <%= link_to destroy_store_session_path, method: :delete, class: "btn btn-secondary btn-sm btn-block mb-3" do %>
            <i class="fas fa-sign-out-alt"></i> Log out
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

