<div class="text-center mb-5"></div>

<div class="container-fluid">
  <div class="row d-flex justify-content-center mx-auto">
    <div class="col-lg-2">
      <%= render 'admin/homes/link' %>
    </div>

    <div class="contents-area col-lg-8 col-md-8">
      <h4 class="text-success"><%= flash[:notice] %></h4>
      <h4 class="text-danger"><%= flash[:alert] %></h4>

      <div class="text-center mb-3"></div>

      <div class="col-xl-10 col-lg-12 col-md-12">

        <div class="col-lg-8 col-xs-12 col-lg-12">
        <h2 class="mb-4 border-bottom border-dark"><strong><%= @store.name %> 店舗情報詳細</strong></h2>
      </div>

        <div class="text-right">
          <%= link_to edit_admin_store_path, class: "btn rounded-circle btn-info" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        </div>

        <table class="table">
          <tr>
            <td>店舗名</td>
            <td><%= @store.name %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @store.email %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= @store.postal_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td>
              <%= @store.prefecture_name %>
              <%= @store.address_city %>
              <%= @store.address_street %>
              <%= @store.address_building %>
            </td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @store.phone_number %></td>
          </tr>
          <tr>
            <td>店舗ステータス</td>
            <td>
              <% if @store.is_deleted == false %>
                <span class="font-weight-bold text-success">有効</span>
              <% else %>
                <span class="font-weight-bold text-danger">無効</span>
              <% end %>
            </td>
          </tr>
          <tr class="border-bottom">
            <td style="width: 40%">
              <%= link_to "投薬一覧を見る", admin_medications_path(each_store_id: @store.id), class: "btn btn-info" %>
            </td>
          <tr class="border-bottom">
            <td style="width: 40%">
              <%= link_to "日報一覧を見る", admin_dairies_path(store_id: @store.id), class: "btn btn-info" %>
            </td>
          </tr>
        </table>
      </div>

  </div>
</div>