<h1>管理者側、店舗情報詳細</h1>

<div>


  <%= @store.name %>
  <%= @store.email %>
  <%= @store.postal_code %>
  <%= @store.address %>
  <%= @store.phone_number %>
  <%#= @store.is_deleted %>
  <%= @store.created_at %>


</div>
