<table class="table table-hover">
  <tbody>
    <% comments.each do |comment| %>
    <tr>
      <td><%= comment.created_at.to_s(:datetime_jp) %></td>
      <td>
        <% if comment.store_id != nil %>
          <%= comment.store.name %>
        <% else %>
          管理者
        <% end %>
      </td>
      <td><%= simple_format(comment.comment) %></td>
      <td>
        <%= render 'store/sees/comment_see', comment: comment, medication: medication %>
      </td>
      <td>
        <% if comment.store_id == current_store.id %>
          <%= link_to medication_comment_path(comment.medication,comment), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "text-danger" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>