<div class="container-fluid">

  <div class="row offset-1 mt-4">

  <div class="col-lg-2 mr-3">
    <%= render 'store/homes/link' %>
    <%= render 'medicine', medicines: @medicines %>
    <%= render 'seed', seeds: @seeds %>
  </div>

  <div class="contents-area col-lg-8 col-md-12 rounded px-5 mb-4">
      <div class=" mt-4">
            <!--スペース用-->
        <div class="mb-5"></div>
        <h4 class="text-success"><%= flash[:notice] %></h4>

        <div class="row my-4 d-flex justify-content-center">

        <div class="col-xs-12 col-lg-6">
          <h2 class="mb-4 border-bottom border-dark"><strong>投薬記録　新着</strong></h2>
        </div>

        <div class="col-xs-12 col-lg-12">

          <table class="table">
            <thead class="table-dark">
              <tr>
                <th scope="col"></th>
                <th scope="col">個体名</th>
                <th scope="col">種類名</th>
                <th scope="col">症状</th>
                <th scope="col">投薬開始日</th>
                <th scope="col">投薬終了予定日</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody class="table table-hover">
              <% @comments.each do |comment| %>
              <tr>
                <td>
                  <%= link_to medication_path(comment.medication.id) do %>
                    <%= image_tag comment.medication.individual.get_image(60,60),class: "img-fluid rounded-circle" %>
                  <% end %>
                </td>
                <td>
                  <%= comment.medication.individual.name %>
                </td>
                <td>
                  <%= comment.medication.individual.seed.name %>
                </td>
                <td>
                  <%= comment.medication.condition %>
                </td>
                <td>
                  <%= comment.medication.dosing_start_date %>
                </td>
                <td>
                  <%= comment.medication.dosing_end_date %>
                </td>
                <td>
                  <% if comment.medication.medication_status == "give" %>
                    <span class="text-danger"><strong><%= comment.medication.medication_status_i18n %></strong></span>
                  <% else %>
                    <span class="text-success"><strong><%= comment.medication.medication_status_i18n %></strong></span>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>

          <div class="mt-2 mb-3 text-center">
            <%= link_to medications_path, class: "btn btn-{themecolor}.rounded-circle.p-0 btn-info border border-2 ", method: :get do %>
              投薬記録一覧へ
            <% end %>
          </div>

        </div>

      </div>


        <div class="mb-5"></div>
        <div class="mb-5">
          <h2 class="mb-4 border-bottom border-dark"><strong>計算する</strong></h2>
        </div>

        <div class="row my-4 d-flex justify-content-center">

          <%= form_with model: @medication, url: medications_path, method: :post, local: true do |f| %>

          <div class="row">
            <div class="col-xs-12 col-lg-6 col-xl-6">
              <h3 class="mb-5"></h3>
              <div class="form-group">
                <div class=" my-3 form-check">

                  <%= f.fields_for :medicine_records do |m| %>
                    <table>
                        <tr>
                          <th><%= m.label :medicine_id, "薬の種類" %></th>
                          <td class="pl-5">
                            <%= m.select :medicine_id, Medicine.all.map{|o| ["#{o.name} #{o.ingredients_per_tablet}", o.id]}, { include_blank: "--選択してください--" }, class: "form-control", id: "medicine" %>
                          </td>
                        </tr>
                        <tr>
                          <th><%= m.label :dosage_indicated, "必要量(mg/kg)" %></th>
                          <td class="pl-5">
                            <%= m.text_field :dosage_indicated, placeholder: "先生からの指示量を入力してください", class: "form-control", id: "dosage_indicated" %>
                          </td>
                        </tr>
                      </table>
                    <% end %>
                    <table>
                      <tr>
                        <th><%= f.label :weight, "体重" %></th>
                        <td class="pl-5">
                          <%= f.text_field :weight, placeholder: "小数点第１位まで「0.1」)", class: "form-control", id: "weight" %>
                        </td>
                      </tr>
                      <tr>
                        <th><%= f.label :number_of_time_id, "投薬回数" %></th>
                        <td class="pl-5">
                          <%= f.select :number_of_time_id, NumberOfTime.all.map{|o| ["#{o.name} #{o.dosing_times}", o.id]}, { include_blank: "--選択してください--" }, class: "form-control", id: "dosing_times" %>
                        </td>
                      </tr>
                      <tr>
                        <th><%= f.label :give_liquid, "与えたい液体量(ml)" %></th>
                        <td class="pl-5">
                          <%= f.text_field :give_liquid, placeholder: "例）1、0.5など",class: "form-control", id: "give_liquid" %>
                        </td>
                      </tr>
                      <tr>
                        <th><%= f.label :several_days, "投薬日数" %></th>
                        <td class="pl-5">
                          <%= f.text_field :several_days, class: "form-control", id: "several_days" %>
                        </td>
                      </tr>
                    </table>

                </div><p></p>
              </div>
            </div>

            <div class="col-xs-12 col-lg-6 col-xl-6">
              <h3 class="mb-4"><strong>計算結果</strong></h3>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="col-xs-3 col-ms-3 col-md-2 col-lg-2">項目</th>
                    <th class="col-xs-3 col-ms-3 col-md-2 col-lg-2">結果</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1回に必要な錠剤の個数</td>
                    <td>
                      <div id="number_of_tablets">個</div>
                    </td>
                  </tr>
                  <tr>
                    <td>ｎ日分に必要な錠剤の個数(整数)</td>
                    <td><div id="n_days_tablets"></div>個</td>
                  </tr>
                  <tr>
                    <td>溶かすための液体量</td>
                    <td>
                      <div id="liquid_amount">ml</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <% end %>
        </div>

    </div>
  </div>
</div>