<div class="row my-4 d-flex justify-content-center">
  
  <div class="col-xs-12 col-lg-6">
    <h2 class="mb-4 border-bottom border-dark"><strong>投薬コメント　新着</strong></h2>
  </div>
  
  <div class="col-xs-12 col-lg-12">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">個体名</th>
          <th scope="col">種類名</th>
          <th scope="col">店舗名</th>
          <th scope="col">投薬開始日</th>
          <th scope="col">投薬終了予定日</th>
        </tr>
      </thead>
      <tbody class="table table-hover">
        <% medications.each do |medication| %>
        <tr>
          <td>
            <%= link_to medication_path(medication.id) do %>
              <%= medication.individual.name %>
            <% end %>
          </td>
          <td>
            <%= medication.individual.seed.name %>
          </td>
          <td>
            <%= medication.store.name %>
            <%# medication.medicine_records.each do |mr| %>
              <%#= mr.medicine.name %>
            <%# end %>
          </td>
          <td>
            <%= medication.dosing_start_date %>
          </td>
          <td>
            <%= medication.dosing_end_date %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
</div>