<h4 class="text-success"><%= flash[:notice] %></h4>
<div class="container">
  <div class="row">
    <div class='mx-auto text-responsive'>
      <h1>welcome to </h1>
      <h1 class="responsive"><i class="fas fa-notes-medical"></i> <strong>Animal Medication Dairy</strong> </h1>
      <p><i class="fas fa-notes-medical"></i><strong>Animal Medication Dairy</strong>は, </p>
      <p>動物の日誌や投薬計算と記録をすることができるアプリです<i class="fas fa-paw"></i></p>
      <p> 詳細はアバウトページを見てください<i class="fas fa-paw"></i></p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to 'ゲストログイン（閲覧用）', stores_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
        </div>
        <div class="row">
          <%= link_to '店舗ログインページ', new_store_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
        </div>
        <div class="row">
          <%= link_to '店舗新規登録ページ', new_store_registration_path, class: "btn btn-success btn-block mb-3 sign_up" %>
        </div>
        <div class="row">
          <%= link_to '管理者ログイン', new_admin_session_path, class: "btn btn-info btn-sm btn-block sign_up" %>
        </div>
      </div>
    </div>
  </div>
</div>