<div class="container-fluid">
  <%= flash[:notice] %>
  <div class="row offset-1 mt-4">
    <div class="col-2 mr-3">
      <%= render 'medicine', medicines: @medicines %>
      <%= render 'seed', seeds: @seeds %>
    </div>

    <div class="contents-area col-8 rounded px-5 mb-4">
      <div class=" mt-4">
        

        <div class='mx-auto text-responsive'>
          <h1>welcome to <i class="fas fa-paw"></i></h1>
          <h1 class="responsive"><i class="fas fa-notes-medical"></i> <strong>Animal Medication Dairy</strong></h1>
          <%= image_tag 'top.jpg', class: "img-fluid" %>
          <p><i class="fas fa-notes-medical"></i><strong>Animal Medication Dairy</strong>は, </p>
          <p>動物の日誌や薬の計算をすることができるアプリです<i class="fas fa-paw"></i></p>
          <p> 詳細はアバウトページを見てください<i class="fas fa-paw"></i></p>
          <div class="btn-wrapper col-10 mx-auto"></div>


      <h3 class="mt-3 mb-2"><strong class="border-bottom border-dark">最新情報</strong></h3>
      <div class="d-flex flex-row">
        <% @dairies.first(4).each do |dairy| %>
        <div class="item col-md-6 col-lg-3 mt-3 mx-0">
          <%= link_to dairy_path(dairy), class: "text-dark" do %>
            <p><%= dairy.created_date %></p>
            <% end %>
        </div>
        <% end %>
      </div>
      <div class="mt-2 mb-3 text-right"><%= link_to "全ての日報を見る", dairies_path, class: "text-dark" %></div>
    </div>
  </div>
</div>