店舗トップページ

<h1>店舗新規登録</h1>
<div>
  <%= link_to '店舗新規登録ページ', new_store_registration_path %>
</div>

<h1>店舗ログイン</h1>
<div>
  <%= link_to '店舗ログインページ', new_store_session_path %>
</div>

<h1>店舗ログアウト</h1>
<div>
  <%= link_to 'ログアウト', destroy_store_session_path, method: :delete %>
</div>

<h1>管理者ログイン</h1>
<div>
  <%= link_to '管理者ログインページ', new_admin_session_path %>
</div>

<h1>個体一覧</h1>
<div>
  <%= link_to '個体一覧ページ', individuals_path %>
</div>