<div class="card col-sm-5 mx-auto mt-5">
  <h4 class="text-danger"><%= flash[:alert] %></h4>
  <div class=="card-body">
    <h3 class="mt-1 mb-3">店舗Log in</h3>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email, :class => "form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password, :class => "form-label" %>
        <%= f.password_field :password, :class => "form-control" %>
      </div>
      <div class="actions">
        <%= f.submit "Log in", :class => "btn btn-dark btn-lg btn-block" %>
      </div>
    <% end %>
    <div class="small text-muted text-center mt-3"></div>
    </div>
  </div>
</div>
