<div class="text-center mb-5"></div>

<div class="container-fluid">
  <div class="row d-flex justify-content-center mx-auto">
    <div class="col-lg-2">
      <%= render 'admin/homes/link' %>
    </div>

    <div class="contents-area col-lg-8 col-md-8">

      <div class="text-center mb-3"></div>

      <h4 class="text-success"><%= flash[:notice] %></h4>
      <h4 class="text-danger"><%= flash[:alert] %></h4>

      <div class="col-xl-10 col-lg-12 col-md-12">

        <div class="col-lg-8 col-xs-12 col-lg-12">
          <h2 class="mb-4 border-bottom border-dark"><strong><%= @medication.individual.name %>投薬記録詳細</strong></h2>
        </div>
        
        <h4>【基本情報】</h4>
        <table class="table">
          <tr>
            <td>
              <strong>個体名：</strong>
              <%= @medication.individual.name %>
            </td>
            <td>
              <strong>動物種：</strong>
              <%= @medication.individual.seed.name %>
            </td>
          </tr>
          <tr>
            <td><strong>投薬開始日：</strong><%= @medication.dosing_start_date %></td>
            <td><strong>投薬終了予定日：</strong><%= @medication.dosing_end_date %></td>
          </tr>
          <tr>
            <th>投薬ステータス：</th>
            <td>
              <% if @medication.medication_status == "give" %>
                <span class="text-danger"><strong><%= @medication.medication_status_i18n %></strong></span>
              <% else %>
                <span class="text-success"><strong><%= @medication.medication_status_i18n %></strong></span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><strong>症状：</strong><%= @medication.condition %></td>
            <td><strong>体重：</strong><%= @medication.weight %>　kg</td>
          </tr>
          <tr>
            <th>備考：</th>
            <td>
              <%= @medication.body %>
            </td>
          </tr>
        </table>

        <h4>【投薬情報】</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>薬名</th>
              <th>投薬回数</th>
              <th>指示量</th>
              <th>投薬日数</th>
            </tr>
          </thead>
          <tbody>
            <% @medication.medicine_records.each do |medicine_record| %>
            <tr>
              <td>
                <%= medicine_record.medicine.name %>
              </td>
              <td>
                <%= medicine_record.number_of_time.name %>
              </td>
              <td><%= medicine_record.dosage_indicated %></td>
              <td><%= @medication.several_days %>　日間</td>
            </tr>
            <% end %>
          </tbody>
        </table>

        <!--コメント機能-->
        <%= render 'admin/comments/medication_comment', comments: @comments%>
        <%= render 'admin/comments/comment_form', medication: @medication, comment: @comment%>


      </div>

  </div>
</div>