<div class="text-center mb-5"></div>

<div class="container">
  <!--<div class="row">-->
  <!--  <%#= render 'layouts/errors', obj: @genre %>-->
  <!--</div>-->

  <h3 class="font-weight-bold col-3 ml-4 mb-4 text-nowrap">動物種の登録</h3>
  <h4 class="text-success"><%= flash[:notice] %></h4>
  <h4 class="text-danger"><%= flash[:alert] %></h4>

  <div class="text-center mb-5"></div>
    <div class="row">
    <%= form_with model: @seed, url: admin_seeds_path, method: :post, local: true do |f| %>
    <div class="form-group">
      <label for="medication_name">動物種名:</label>
      <%= f.text_field :name, class: "form-control" %>
    </div>
      <%= f.submit "新規登録", class: "btn btn-success" %>
    <% end %>
  </div>
</div>

<div class="text-center mb-5"></div>

<div class="container">
  <h3 class="font-weight-bold col-3 ml-4 mb-4 text-nowrap">動物種の一覧</h3>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">動物種名</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="table table-hover">
      <% @seeds.each do |seed| %>
      <tr>
        <td class="h5"><%= seed.name %></td>
        <td class="h5">
          <%= link_to "編集する", edit_admin_seed_path(seed.id), class: "btn btn-outline-success" %>
          <%= link_to "削除", admin_seed_path(seed.id), method: :delete,
            data: { confirm: "本当に削除しますか？" }, class: "btn btn-outline-danger ml-3" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @seeds, theme: 'twitter-bootstrap-4' %>
</div>