<div class="text-center mb-5"></div>

<h4 class="text-success"><%= flash[:notice] %></h4>
<h4 class="text-danger"><%= flash[:alert] %></h4>
<div class="container-fluid">
  <div class="row d-flex justify-content-center mx-auto">
    <div class="col-lg-2">
      <%= render 'store/homes/link' %>
    </div>

    <div class="contents-area col-lg-8 col-md-8">

      <div class="text-center mb-3"></div>

      <div class="col-xs-12 col-lg-6">
        <h2 class="mb-4 border-bottom border-dark"><strong>日報一覧</strong></h2>
      </div>

      <div class="text-right ">
        <%= link_to new_dairy_path, class: "btn btn-{themecolor}.rounded-circle.p-0 btn-success border border-2 ", method: :get do %>
          <i class="fas fa-plus"></i>日報作成
        <% end %>
      </div>

      <table class="table table-hover">
        <%= link_to '新しい順', dairies_path(latest: "true"),class: "text-info" %>
         |<%= link_to '古い順', dairies_path(old: "true"),class: "text-info" %>
        <thead class="bg-dark text-light">
          <tr>
            <th scope="col"></th>
            <th scope="col">日付</th>
            <th scope="col">店舗名</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody class="table">
          <% @dairies.each do |dairy| %>
          <tr>
            <td class="h5">
              <%= link_to dairy_path(dairy.id),class: "text-info " do %>
                <i class="fas fa-file-alt"></i>
              <% end %>
            </td>
            <td class="h5">
              <%= dairy.created_date %>
            </td>
            <td class="h5">
              <%= dairy.store.name %>
            </td>
            <td class="h5">
              <%= dairy.medication_id %>
            </td>
            <td class="h5">
              <% if dairy.store == current_store %>
                <%= link_to dairy_path(dairy.id),
                            class: "text-danger ", method: :delete,
                            data: { confirm: "本当に削除しますか？" } do %>
                            <i class="fas fa-trash-alt"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

    <div class="pagination justify-content-center mt-3 mb-3">
    <%= paginate @dairies, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>
