<div class="text-center mb-5"></div>

<div class="container">
  <!--<div class="row">-->
  <!--  <%#= render 'layouts/errors', obj: @genre %>-->
  <!--</div>-->

<h3 class="font-weight-bold col-3 ml-4 mb-4 text-nowrap">日報一覧</h3>
<h4 class="text-danger"><%= flash[:alert] %></h4>

<div class="text-center mb-5"></div>
  <%= link_to "日報作成する", new_dairy_path, class: "btn btn-success" %>
<div class="text-center mb-5"></div>
<div class="table-responsive">
  <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">日付</th>
          <th scope="col">店舗名</th>
          <th scope="col">投薬記録</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody class="table table-hover">
        <% @dairies.each do |dairy| %>
        <tr>
          <td class="h5">
            <%= link_to dairy_path(dairy.id) do %>
              <%= dairy.created_date %>
            <% end %>
          </td>
          <td class="h5">
            <!--↓店舗名押すと、店舗の日報絞り込み-->
            <%= link_to each_store_path(dairy.store_id) do %>
              <%= dairy.store.name %>
            <% end %>
          </td>
          <td class="h5">
            <%= dairy.medication_id %>
          </td>
          <td class="h5">
            <%= link_to "削除", dairy_path(dairy.id), method: :delete,
            data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger ml-3" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <%#= paginate @seeds, theme: 'twitter-bootstrap-4' %>
  </div>
</div>