<!--スペース用-->
<div class="text-center mb-5"></div>

<div class="container-fluid">
  <div class="row d-flex justify-content-center mx-auto">

    <div class="col-lg-2">
      <%= render 'store/homes/link' %>
    </div>

    <div class="contents-area col-lg-8 col-md-8">

      <!--スペース用-->
      <div class="text-center mb-3"></div>

      <div class="col-xl-10 col-lg-12 col-md-12">

        <h4 class="text-success"><%= flash[:notice] %></h4>
        <h4 class="text-danger"><%= flash[:alert] %></h4>

        <div class="col-lg-8 col-xs-12 col-lg-12">
          <h2 class="mb-4 border-bottom border-dark"><strong><%= @dairy.store.name %> 日報情報詳細</strong></h2>
        </div>

        <div class="text-right">
          <% if @dairy.store == current_store %>
            <%= link_to edit_dairy_path(@dairy.id), class: "btn rounded-circle btn-info" do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to  dairy_path(@dairy.id), method: :delete,
                data: { confirm: "本当に削除しますか？" }, class: "btn rounded-circle btn-danger" do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          <% end %>
        </div>

        <table class="table">
          <tr>
            <td><strong>店舗名</strong></td>
            <td><%= @dairy.store.name %></td>
          </tr>
          <tr>
            <td><strong>作成日</strong></td>
            <td><%= @dairy.created_date %></td>
          </tr>
          <tr>
            <td><strong>天気</strong></td>
            <td>
              <%= @dairy.weather.name %>
            </td>
          </tr>
          <tr>
            <td><strong>最高気温</strong></td>
            <td>
              <%= @dairy.high_temperature %>　℃
            </td>
          </tr>
          <tr>
            <td><strong>最低気温</strong></td>
            <td>
              <%= @dairy.low_temperature %>　℃
            </td>
          </tr>
          <tr>
            <td><strong>湿度</strong></td>
            <td>
              <%= @dairy.humidity %>　％
            </td>
          </tr>
          <tr>
            <td><strong>項目タイトル 0</strong></td>
            <td>
              <%= @dairy.title %>
            </td>
          </tr>
          <tr>
            <td><strong>内容</strong></td>
            <td>
              <%= @dairy.body %>
            </td>
          </tr>

          <% @dairy.dairy_items.each do |item| %>
            <tr>
              <td><strong>項目タイトル <%= "#{@dairy.dairy_items.count}" %></strong></td>
              <td><%= item.title %></td>
            </tr>
            <tr>
              <td><strong>内容</strong></td>
              <td><%= simple_format(item.body) %></td>
            </tr>
          <% end %>

          <tr>
            <td style="width: 40%">
              <%= link_to "日報一覧を見る", dairies_path(store_id: @dairy.store_id), class: "btn btn-info" %>
            </td>
          </tr>
        </table>

        <div class="text-center">
          <%= link_to "<<", dairies_path, class: "btn btn-outline-secondary rounded" %>
        </div>

        <!--スペース用-->
        <div class="mb-4"></div>

      </div>

    </div>

  </div>
</div>