<div class="text-center mb-5"></div>

<h4 class="text-success"><%= flash[:notice] %></h4>
<h4 class="text-danger"><%= flash[:alert] %></h4>
<div class="container-fluid">
  <div class="row d-flex justify-content-center mx-auto">
    <div class="col-lg-2">
      <%= render 'admin/homes/link' %>
    </div>

    <div class="contents-area col-lg-8 col-md-8">

      <div class="text-center mb-3"></div>

      <div class="col-xs-12 col-lg-6">
        <h2 class="mb-4 border-bottom border-dark"><strong>動物一覧</strong></h2>
        <p>
          <%= link_to '新しい順', admin_individuals_path(latest: "true"),class: "text-info" %>
          |<%= link_to '古い順', admin_individuals_path(old: "true"),class: "text-info" %>
        </p>
      </div>

      <div class="individuals-list d-flex flex-wrap">
        <% @individuals.each do |individual| %>
        <div class="img_wrap col-lg-3 col-md-6 mx-0 rounded">
          <%= link_to admin_individual_path(individual), class: "text-dark" do %>
            <%= image_tag individual.get_image(200,200),class: "img-fluid rounded" %><br>
            <p class="m-2"><strong>名前：</strong><%= individual.name %></p>
            <p class="m-2"><strong>種類：</strong><%= individual&.seed&.name %></p>
            <p class="m-2"><strong>店舗：</strong><%= individual.store.name %></p>
          <% end %>
        </div>
        <% end %>
      </div>

    <div class="pagination justify-content-center mt-3 mb-3">
      <%= paginate @individuals, theme: 'twitter-bootstrap-4' %>
    </div>

    <div class="text-right">
      <span id="top-btn">
        <a href="#">
          <i class="fas fa-chevron-up"></i>
        </a>
      </span>
    </div>

  </div>
</div>
